<f:for each="{items}" as="item">
	<f:if condition="{item.section}">
		<f:then>
			<li class="dropdown">
				<f:if condition="{item.items}">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<f:if condition="{item.iconclass}">
							<span class="{item.iconclass}"></span>
						</f:if>
						{item.label}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<f:for each="{item.items}" as="subitem">
							<li>
								<f:if condition="{subitem.action}">
									<f:then>
										<f:link.action action="{subitem.action}" controller="{subitem.controller}" package="{subitem.package}">
											<f:if condition="{subitem.iconclass}">
												<span class="{subitem.iconclass}"></span>
											</f:if>
											{subitem.label}
										</f:link.action>
									</f:then>
									<f:else>
										<a href="{subitem.url}">
											<f:if condition="{subitem.iconclass}">
												<span class="{subitem.iconclass}"></span>
											</f:if>
											{subitem.label}
										</a>
									</f:else>
								</f:if>
							</li>
						</f:for>
					</ul>
				</f:if>
			</li>
		</f:then>
		<f:else>
			<li>
				<f:if condition="{item.action}">
					<f:then>
						<f:link.action action="{item.action}" controller="{item.controller}" package="{item.package}">
							<f:if condition="{item.iconclass}">
								<span class="{item.iconclass}"></span>
							</f:if>
							{item.label}
						</f:link.action>
					</f:then>
					<f:else>
						<a href="{item.url}">
							<f:if condition="{item.iconclass}">
								<span class="{item.iconclass}"></span>
							</f:if>
							{item.label}
						</a>
					</f:else>
				</f:if>
			</li>
			<f:if condition="{item.items}">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
					<ul class="dropdown-menu">
						<f:for each="{item.items}" as="subitem">
							<li>
								<f:if condition="{subitem.action}">
									<f:then>
										<f:link.action action="{subitem.action}" controller="{subitem.controller}" package="{subitem.package}">
											<f:if condition="{subitem.iconclass}">
												<span class="{subitem.iconclass}"></span>
											</f:if>
											{subitem.label}
										</f:link.action>
									</f:then>
									<f:else>
										<a href="{subitem.url}">
											<f:if condition="{subitem.iconclass}">
												<span class="{subitem.iconclass}"></span>
											</f:if>
											{subitem.label}
										</a>
									</f:else>
								</f:if>
							</li>
						</f:for>
					</ul>
				</li>
			</f:if>
		</f:else>
	</f:if>
</f:for>