<f:if condition="{item.action}">
	<f:then>
		<f:link.action action="{item.action}" controller="{item.controller}" package="{item.package}" useParentRequest="1" arguments="{item.arguments}">
			<f:if condition="{item.iconclass}">
				<span class="{item.iconclass}"></span>
			</f:if>
			<f:if condition="{item.package}">
				<f:then>
					<f:translate id="{item.labelId}" package="{item.package}">{item.label}</f:translate>
				</f:then>
				<f:else>
					{item.label}
				</f:else>
			</f:if>
		</f:link.action>
	</f:then>
	<f:else>
		<a href="{item.url}">
			<f:if condition="{item.iconclass}">
				<span class="{item.iconclass}"></span>
			</f:if>
			<f:if condition="{item.package}">
				<f:then>
					<f:translate id="{item.labelId}" package="{item.package}">{item.label}</f:translate>
				</f:then>
				<f:else>
					{item.label}
				</f:else>
			</f:if>
		</a>
	</f:else>
</f:if>